:local .Dropdown{
    position: relative;
}
:local .DropdownMenu{
    font-family: overpass-Light, sans-serif, Serif;
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    top: 42px;
    left: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 50;
    visibility: hidden;
    transition: visibility 0.3s ease-in;
}

:local .DropdownMenu ul{
    font-family: overpass-Light, sans-serif, Serif;
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 5px 0;
}

:local .DropdownMenu ul li{
    padding: 5px 0;
    font-size: 12px;
}
:local .DropdownMenu ul li:hover{
    background-color: rgba(78,90,242,0.1);
}
:local .DropdownMenu ul li:hover a{
    color: #4e5af2;
}
:local .DropdownMenu ul li a{
    color: #666666;
    text-decoration: none;
}

:local .Profile{
    font-family: overpass-Light, sans-serif, Serif;
    padding: 6px 25px 6px 15px;
    font-size: 12px;
    color: #666666;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #4e5af2;
    background-color: #ffffff;
    width: 115px;
    border-radius: 5px;
}


:local .ArrowBox{
    /*display: none;*/
    content: '';
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 15px;
    z-index: -1;
    transform: rotate(45deg);
    border-top: 1px solid #f2f4f9;
    border-left: 1px solid #f2f4f9;
}

:local .Chevron{
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 15px;
}

:local .Show{
    visibility: visible;
}

:local .Hide{
    visibility: hidden;
}
