.Loading {
    animation: rotation 5s infinite linear;
    position: fixed;
    top: 50%;
    right: 5px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
