:local .Btn{
    outline: none;
    box-shadow: none;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.Btn:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

:local .Transparent{
    border: none !important;
    background-color: transparent;
    padding: 0 !important;
}

:local .BtnPrimary{
    font-family: overpass-Light, sans-serif, serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #727cf5;
    padding: 7px 18px;
    color: #ffffff;
    font-size: 14px;
    border: none;
}

:local .BtnPrimary:hover{
    background-color: #4e5af2;
}

:local .BtnBgGrey{
    font-family: overpass-Regular,SansSerif,serif;
    background-color: #cccccc;
    border: none;
    color: #000000;
    padding: 7px 18px;
    font-size: 14px;
}

:local .BtnLink{
    font-family: overpass-Regular, sansSerif, serif;
    font-size: 10px;
    color: #4e5af2;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 0;
}

:local .BtnDateRange{}


