:local .Container{
    width: 100%;
    height: 100%;
}

:local .LeftMenu{
    border-right: 1px solid #f2f4f9;
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-out;
    z-index: 100;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
:local .LogoSection{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid #f2f4f9;
    height: 60px;
}
:local .Logo{
    width: 60%;
}
:local .ToggleSection{
    width: 40%;
    padding-left: 45px;
}
:local .Open{
    transform: translateX(0);
}

:local .Close{
    transform: translateX(-100%);
}

:local .ML245{
    margin-left: 245px;
}
:local .ML85{
    margin-left: 85px;
}
:local .StatusBar{
    height: 0;
}

:local .Contents{
    margin-top: 55px;
    z-index: -1;
    background-color: #f9fafb;
    padding: 15px 15px 15px 0;
}

:local .AdminContents{
    margin-top: 55px;
    z-index: -1;
    background-color: #070C19;
    color: #ffffff;
    padding: 15px 15px 15px 0;
}

:local .AdminContainer{
    width: 100%;
    height: 100%;
    background-color: #070C19;
}

:local .AdminLeftMenu{
    border-right: 1px solid #262f43;
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-out;
    z-index: 100;
    height: 100%;
    background-color: #0B1327;
}

:local .AdminLogoSection{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid #262f43;
    height: 60px;
    background-color: #0B1327;
}
