:local .Container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid #f2f4f9;
    box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
    z-index: 98;
    width: 70px;
    background-color: #ffffff;
}
:local .ToggleSection{
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f2f4f9;
}

:local .LeftMenuSection{
    margin-top: 33px;
}

:local .LeftMenuSection table{
    width: 100%;
}

:local .LeftMenuSection tr td{
    padding: 8px;
    text-align: center;
}

:local .LeftMenuSection tr td a{
    color: #000000;
    transition: 0.5s;
}

:local .LeftMenuSection tr td:hover a{
    color: #4e5af2;
}
